<a href="https://colab.research.google.com/github/Mohitsaini2028/Machine-Learning/blob/main/pandatutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

Python has long been great for data munging and preparation, but less so for data analysis and modelling. Pandas helps fill this gap, enabling you to carry out your entire data analysis workflow in Python.

Pandas is well suited for many different kinds of data: Tabular data with heterogeneously-typed columns, like in an SQL table or Excel spreadsheet

Ordered and unordered (not necessarily fixed-frequency) time series data.

Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels

Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

The two primary data structures of pandas, Series (1-dimensional) and DataFrame (2-dimensional), handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering.

Machine Learning / Deep Learning algorithms learns from the data. The data can be of three types depending upon the sources; Structured Data Semi-Structured Data Unstructured Data

Generally we found the data files in following formats: csv – in case of Structured Data text, xml – in case of Semi-Structured Data No Format in case of Unstructured Data

In [2]:

from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

In [3]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.7.12 (default, Jan 15 2022, 18:48:18)
[GCC 7.5.0]
Pandas version 1.3.5
Matplotlib version 3.2.2

In [4]:
# The initial set of baby names and birth rates
names = ['Abhishek','Anandi','Siddharth','Parth','Deepak']
births = [968, 50, 180, 578, 973]
BabyDataSet = list(zip(names,births))
BabyDataSet

[('Abhishek', 968),
 ('Anandi', 50),
 ('Siddharth', 180),
 ('Parth', 578),
 ('Deepak', 973)]

In [7]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

       Names  Births
0   Abhishek     968
1     Anandi      50
2  Siddharth     180
3      Parth     578
4     Deepak     973

In [8]:
import pandas as pd
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
df

  first_name last_name  age  preTestScore  postTestScore
0      Jason    Miller   42             4             25
1      Molly  Jacobson   52            24             94
2       Tina       Ali   36            31             57
3       Jake    Milner   24             2             62
4        Amy     Cooze   73             3             70

In [9]:
df.to_csv('example.csv')

In [10]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [11]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

OR:
pop = pd.read_csv("data1/countries_population.csv", 
                   sep=" ", 
                  )

OR:
pop = pd.read_csv('chipotle.tsv',  sep = '\t')

In [14]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [18]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [22]:
chipo.sort_values(['item_price'], ascending=False)

      order_id  ...  item_price
2624      1042  ...      $9.39
4419      1762  ...      $9.39
4036      1615  ...      $9.39
1825       738  ...      $9.39
3115      1243  ...      $9.39
...        ...  ...         ...
3145      1254  ...      $1.09
414        180  ...      $1.09
3162      1262  ...      $1.09
821        338  ...      $1.09
1457       591  ...      $1.09

[4622 rows x 5 columns]

In [25]:
Sorted = chipo.sort_values(['item_price'], ascending=True)
Sorted.head(50)

      order_id  quantity      item_name choice_description item_price
261        113         1    Canned Soda     [Mountain Dew]     $1.09
1805       730         1    Canned Soda           [Sprite]     $1.09
1030       424         1    Canned Soda  [Diet Dr. Pepper]     $1.09
3020      1201         1    Canned Soda  [Diet Dr. Pepper]     $1.09
3021      1201         1  Bottled Water                NaN     $1.09
434        188         1    Canned Soda        [Coca Cola]     $1.09
107         47         1    Canned Soda       [Dr. Pepper]     $1.09
438        190         1    Canned Soda       [Dr. Pepper]     $1.09
195         87         1    Canned Soda        [Coca Cola]     $1.09
4008      1604         1    Canned Soda        [Diet Coke]     $1.09
200         89         1    Canned Soda        [Diet Coke]     $1.09
958        393         1    Canned Soda           [Sprite]     $1.09
2754      1093         1  Bottled Water                NaN     $1.09
956        392         1    Canned Soda        [Coca Cola]     $1.09
3897      1562         1    Canned Soda     [Mountain Dew]     $1.09
2206       889         1    Canned Soda     [Mountain Dew]     $1.09
3042      1210         1  Bottled Water                NaN     $1.09
943        388         1  Bottled Water                NaN     $1.09
87          38         1  Bottled Water                NaN     $1.09
3683      1475         1    Canned Soda        [Coca Cola]     $1.09
3581      1436         1  Bottled Water                NaN     $1.09
1217       496         1    Canned Soda  [Diet Dr. Pepper]     $1.09
2774      1101         1    Canned Soda           [Sprite]     $1.09
473        202         1    Canned Soda  [Diet Dr. Pepper]     $1.09
318        138         1  Bottled Water                NaN     $1.09
317        138         1    Canned Soda        [Diet Coke]     $1.09
1396       567         1    Canned Soda        [Coca Cola]     $1.09
2584      1025         1    Canned Soda     [Mountain Dew]     $1.09
821        338         1    Canned Soda        [Coca Cola]     $1.09
2768      1098         1    Canned Soda           [Sprite]     $1.09
1431       579         1    Canned Soda           [Sprite]     $1.09
3006      1195         1    Canned Soda        [Coca Cola]     $1.09
4001      1602         1  Bottled Water                NaN     $1.09
1216       496         1    Canned Soda        [Diet Coke]     $1.09
370        160         1    Canned Soda        [Diet Coke]     $1.09
378        164         1    Canned Soda     [Mountain Dew]     $1.09
1945       787         1    Canned Soda        [Coca Cola]     $1.09
1948       788         1    Canned Soda       [Dr. Pepper]     $1.09
1953       790         1    Canned Soda        [Diet Coke]     $1.09
2961      1177         1    Canned Soda           [Sprite]     $1.09
3254      1303         1    Canned Soda           [Sprite]     $1.09
3936      1578         1    Canned Soda  [Diet Dr. Pepper]     $1.09
1142       471         1    Canned Soda       [Dr. Pepper]     $1.09
3434      1379         1    Canned Soda           [Sprite]     $1.09
3476      1396         1    Canned Soda        [Coca Cola]     $1.09
3935      1578         1  Bottled Water                NaN     $1.09
117         51         1    Canned Soda  [Diet Dr. Pepper]     $1.09
1140       471         1  Bottled Water                NaN     $1.09
2981      1186         1  Bottled Water                NaN     $1.09
2922      1162         1  Bottled Water                NaN     $1.09

In [27]:
chipo.loc[117]

order_id                             51
quantity                              1
item_name                   Canned Soda
choice_description    [Diet Dr. Pepper]
item_price                       $1.09
Name: 117, dtype: object

In [28]:
chipo.rank()

      order_id  quantity  item_name  choice_description  item_price
0          2.5    2178.0     2839.5                 NaN      1937.5
1          2.5    2178.0     3568.5                28.5      2264.0
2          2.5    2178.0     3592.0                 8.5      2264.0
3          2.5    2178.0     3521.0                 NaN      1937.5
4          5.0    4467.5     1376.5              3058.0      1601.0
...        ...       ...        ...                 ...         ...
4617    4618.5    2178.0     4103.5              1305.5      1417.5
4618    4618.5    2178.0     4103.5              1580.5      1417.5
4619    4621.0    2178.0     2403.5               752.5       963.0
4620    4621.0    2178.0     2403.5               745.5      3576.5
4621    4621.0    2178.0     2403.5               758.0      3576.5

[4622 rows x 5 columns]

In [29]:
chipo.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [36]:
from pandas._libs.lib import generate_bins_dt64
gb=chipo.groupby(by=["item_name"])
gb

In [42]:
l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df = pd.DataFrame(l, columns=["a", "b", "c"])
df.groupby(by=["b"]).sum()

     a  c
b
1.0  2  3
2.0  2  5